/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./styles/globals.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/* styles/globals.scss */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; /* Centraliza o conteúdo */
}

.button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
  font-size: 1rem;
}
.button:hover {
  background-color: #1483cc;
}
.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-button {
  background-color: rgba(238, 0, 0, 0.7411764706);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
  font-size: 1rem;
}
.delete-button:hover {
  background-color: #cc0000;
}

.button-danger {
  margin-left: 4.7rem;
}

.header {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #3498db;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.historyTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}
.historyTable th, .historyTable td {
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd;
}
.historyTable th {
  background-color: #3498db;
  color: white;
}
@media (max-width: 768px) {
  .historyTable th, .historyTable td {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .historyTable {
    font-size: 0.8rem;
  }
  .historyTable th, .historyTable td {
    padding: 0.4rem;
  }
  .historyTable th {
    font-size: 0.9rem;
  }
}

.totalHoras, .message, h3 {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e0e0e0;
  color: #333;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

.message {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* Scroll horizontal e vertical para telas menores (mobile e tablet) */
@media (max-width: 768px) {
  .table-container {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
    width: 100%;
  }
  .historyTable {
    width: 100%;
    min-width: 200px; /* Mantém a tabela responsiva */
    display: block;
  }
}
/* Para telas maiores, fixar o cabeçalho ao rolar */
@media (min-width: 769px) {
  .table-container {
    overflow-y: auto;
    max-height: 500px;
    position: relative; /* Necessário para o cabeçalho fixo */
  }
  .historyTable {
    width: 100%;
    border-collapse: collapse;
  }
  .historyTable thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #3498db; /* Mantém a cor azul no cabeçalho */
    z-index: 100;
  }
  .historyTable th {
    background-color: #3498db; /* Garante que o cabeçalho continue azul */
    color: white;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd;
  }
}
/* Responsividade */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 1.5rem;
  }
  .button, .delete-button, .button-danger {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
    display: block; /* Faz os botões ocuparem a largura total */
    width: 100%; /* Garante que fiquem centralizados e ajustados */
    height: 2.5rem;
    text-align: center;
    margin: 0.5rem auto; /* Centraliza os botões */
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
    padding: 8px;
  }
  .button, .delete-button {
    padding: 0.5rem 1.2rem;
    font-size: 16px;
    display: block; /* Mantém os botões responsivos */
    width: 100%; /* Ocupa toda a largura disponível */
    text-align: center;
    margin: 0.5rem auto;
  }
  .header {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
  .totalHoras, .message, h3 {
    font-size: 1rem;
    padding: 0.8rem;
  }
}
