/* styles/globals.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; /* Centraliza o conteúdo */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espaçamento entre os botões */
}

.button {
  background-color: #6200ee;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3700b3;
}

.delete-button {
  background-color: #6200ee;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #3700b3;
}

.header {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #6200ee;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.historyTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;

  th, td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: #6200ee;
    color: white;
  }
}

.message {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e0e0e0;
  color: #333;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}


footer {
  text-align: center;
}



